@import url("/blocks/helpdesk/css/helpdesk.css");

div.ticketupdates {
  width: 49%;
  float: right;
}
div.ticketinfo {
  width: 49%;
  float: left;
}
div#ticketlistoptions {
    display: block;
/*  width: 95%;  */
    height: 13.5em;
    padding-bottom: 3em;
}
div.left2div {
    width: 49%;
    float: left;
}
div.right2div {
    width: 49%;
    float: right;
}
li {
    min-width: 1px;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}
#page-blocks-helpdesk-view div.left2div {
    width: 59%;
}
#page-blocks-helpdesk-view div.right2div {
    width: 39%;
}
.mform .fitem .fitemtitle {
    width: 20%;
    margin-right: 10px;
}
.mform input[type="text"] {
    width: 88%;
}
#page-blocks-helpdesk-view .generaltable {
    width: 100%;
}
#page-blocks-helpdesk-search .generaltable {
    width: 100%;
}
